@*@model IEnumerable<SampleApp.Models.Pet>*@


@{
    ViewBag.Title = "ViewAll";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}



<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- Large modal -->
                <h1>Welcome to CRUD ajax with ASP.Net (Visual Studio 2022)</h1>
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Basic Datatable</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                @*<th>@Html.DisplayNameFor(model => model.PetName)</th>
                                <th>@Html.DisplayNameFor(model => model.PetAge)</th>
                                <th>@Html.DisplayNameFor(model => model.PetGender)</th>
                                <th>@Html.DisplayNameFor(model => model.PetImagePath)</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tbody" id="petTableBody">
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                @*<th>@Html.DisplayNameFor(model => model.PetName)</th>
                                <th>@Html.DisplayNameFor(model => model.PetAge)</th>
                                <th>@Html.DisplayNameFor(model => model.PetGender)</th>
                                <th>@Html.DisplayNameFor(model => model.PetImagePath)</th>
                                <th>Action</th>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Add New Pet</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="basic-form">
                            <div class="card-body">
                                <div class="basic-form">
                                    <form id="formUpload" enctype="multipart/form-data">
                                        <div class="form-row">

                                            <div class="form-group col-md-6">
                                                <label>Name</label>
                                                <input type="text" class="form-control" placeholder="Name" id="PetName" required>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Age</label>
                                                <input type="text" class="form-control" placeholder="Age" id="PetAge" required>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Select Gender</label>
                                                <select id="PetGender" class="form-control">
                                                    <option selected>Choose...</option>
                                                    <option>Female</option>
                                                    <option>Male</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Upload Image</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="fileUpload" accept="image/*" required>
                                                        <label class="custom-file-label">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12">
                                            <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                                            <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


